In [35]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline


import_file = 'agaricus-lepiota.data'
mushroom_dataset = pd.read_csv(import_file, header=None, usecols=[0, 3, 5, 21, 22])
mushroom_dataset.head(11)

   0  3  5  21 22
0   p  n  p  s  u
1   e  y  a  n  g
2   e  w  l  n  m
3   p  w  p  s  u
4   e  g  n  a  g
5   e  y  a  n  g
6   e  w  a  n  m
7   e  w  l  s  m
8   p  w  p  v  g
9   e  y  a  s  m
10  e  y  l  n  g

In [36]:
column_names = ['Edible/Poisonous', 'Cap-Color', 'Odor', 'Population','Habitat']
mushroom_dataset.columns = column_names
mushroom_dataset.head(11)

   Edible/Poisonous Cap-Color Odor Population Habitat
0                 p         n    p          s       u
1                 e         y    a          n       g
2                 e         w    l          n       m
3                 p         w    p          s       u
4                 e         g    n          a       g
5                 e         y    a          n       g
6                 e         w    a          n       m
7                 e         w    l          s       m
8                 p         w    p          v       g
9                 e         y    a          s       m
10                e         y    l          n       g

In [37]:
replace_with_num_values = mushroom_dataset.replace({'Edible/Poisonous':{'e':0,
                                                                        'p':1},
                                                    'Cap-Color':{'n':0,
                                                                 'b':1,
                                                                 'c':2,
                                                                 'g':3,
                                                                 'r':4,
                                                                 'p':5,
                                                                 'u':6,
                                                                 'e':7,
                                                                 'w':8,
                                                                 'y':9},
                                                    'Odor':{'a': 0,
                                                            'l': 1,
                                                            'c': 2,
                                                            'y': 3,
                                                            'f': 4,
                                                            'm': 5,
                                                            'n': 6,
                                                            'p': 7,
                                                            's': 8},
                                                    
                                                    'Population':{'a':0,
                                                                  'c':1,
                                                                  'n':2,
                                                                  's':3,
                                                                  'v':4,
                                                                  'y':5},
                                                    'Habitat':{'g': 0,
                                                               'l': 1,
                                                               'm': 2,
                                                               'p': 3,
                                                               'u': 4,
                                                               'w': 5,
                                                               'd': 6}})
replace_with_num_values.head(11)

    Edible/Poisonous  Cap-Color  Odor  Population  Habitat
0                  1          0     7           3        4
1                  0          9     0           2        0
2                  0          8     1           2        2
3                  1          8     7           3        4
4                  0          3     6           0        0
5                  0          9     0           2        0
6                  0          8     0           2        2
7                  0          8     1           3        2
8                  1          8     7           4        0
9                  0          9     0           3        2
10                 0          9     1           2        0